﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.receive_chat{
    padding-top: 25px;
    left:0px;
    background-color:powderblue;
}

.from_chat {
    padding-top: 25px;
    right: 0px;
    background-color: wheat;
}

._UserError{
    color:sandybrown;
    font-style: oblique;
}

.from_bot {
    padding-top: 35px;
    background-color: yellow;
    color: saddlebrown;
    border-style: ridge;
    border-radius: 2px;
}

._chat{
    border-style: ridge;
    border-radius: 2px;
}