﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h3>Daniel Mejia</h3>
        <h4>naielox@gmail.com</h4>
        <h4>Cuenca - Ecuador</h4>
    </div>
</div>

