﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ChatNET</h1>
    <p class="lead">Simple chat web app with .Net</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h2>Login</h2>
            <p>
                Enter the credentials to start the session.
            </p>
        </div>
        <div class="row">
            <h3>Login</h3>
            <p>User:</p><input type="text" id="userName" />
            <p>Password:</p><input type="password" id="userPwd" />
            <button class="btn btn-primary" id="logUserIn">Log in</button>
            <p class="_UserError" id="LoginError"></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <h2>Registration</h2>
            <p>
                Enter the credentials to start the registration process.
            </p>
        </div>
        <div class="row">
            <h3>Register</h3>
            <p>User:</p><input type="text" id="regUserName" />
            <p>Password</p><input type="password" id="regUserPwd" />
            <button class="btn btn-primary" id="regUser">Register</button>
            <p class="_UserError" id="RegistrationError"></p>            
        </div>
    </div>
</div>
<script>
    $('#logUserIn').click(function (e) {
        e.preventDefault();
        $.post("login", { username: $('#userName').val(), password: $('#userPwd').val() })
            .done(function (res) {
                if (res.status == "success") {
                    //Redirect to the chat page
                    window.location.href = "chat";
                } else {
                    $('#LoginError').text(res.message);
                }
            });
    });
    $('#regUser').click(function (e) {
        e.preventDefault();
        $.post("register", { username: $('#regUserName').val(), password: $('#regUserPwd').val() })
            .done(function (res) {
                if (res.status == "success") {
                    //Redirect to the chat page
                    window.location.href = "chat";
                } else {
                    $('#RegistrationError').text(res.message);
                }
            });
    });
</script>