﻿
@{
    ViewBag.Title = "ChatRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<div class="row">
        <h1> @ViewBag.currentUser.name </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <aside class="main">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default users_bar">
                        <div class="panel panel-heading users_heading">
                            Contacts(@ViewBag.allUsers.Count)
                        </div>
                        <div class="_no_chat">
                            <p>Click on a contact to start a new conversation...</p>
                        </div>
                        <div class="panel panel-body users_body">
                            <ul id="contactsList" class="list-group">
                                @foreach(var contact in @ViewBag.allUsers)
                                {
                                        <li>
                                            <a class="user_item contact-@contact.id" href="#" data-contact-id="@contact.id" data-contact-name="@contact.name">
                                                <span>@contact.name</span>
                                            </a>
                                        </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <div class="col-xs-6 col-md-9 chat_body">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group chat_main">
                </ul>
            </div>
            <div class="chat_type_body">
                <div class="chat_type">
                    <textarea id="chat_message" placeholder="Type your message here..."></textarea>
                    <button class="btn btn-primary" id="sendChat">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let currentContact = null; //It will be initialized when a contact from the list is being selected
    //Pusher configuration and related variables
    let socketId = null;
    let currentConversationChannel = null;
    let conversationChannelName = null;

    const pusher = new Pusher('b03b171259ec750625cf', {
        cluster: 'us2'
    });

    pusher.connection.bind('connected', function () {
        socketId = pusher.connection.socket_id;
    });
    let newMessageTemplate = //Stores the template to be used when a new message is received
        `<div>
            <div id="chatmsg-{{id}} class="row_chat_par_">
                <div class="_chat">
                    <p>{{body}}</p>
                </div>
            </div>"
</div>`;
    let botMessageTemplate =
        `<div>
            <div class="_bot_chat from_bot">
                <p>{{stockName}} quote is {{stockPrice}} per share</p>
            </div>
</div>
`;
    let botErrorMessageTemplate =
        `<div>
            <div class="_bot_chat from_bot">
                <p>{{message}}</p>
            </div>
</div>
`;
    //Determine the selected contact
    $('.user_item').click(function (e) {
        e.preventDefault();
        currentContact = {
            id: $(this).data('contact-id'),
            name: $(this).data('contact-name')
        };

        //Pusher update process
        //If there's any current channel unsuscribe from it
        if (conversationChannelName) {
            pusher.unsubscribe(conversationChannelName);
        }

        //Establish the combined id for the private channel created between the contacts in the current conversation
        conversationChannelName = getConversationChannel(
            (@ViewBag.currentUser.id * 1) ,
            (currentContact.id * 1)
        );

        currentConversationChannel = pusher.subscribe(conversationChannelName);
        bind_client_events();

        //Unselect all the selected contacts
        $('#contacts').find('li').removeClass('active');

        //Select the clicked contact
        $('#contacts .contact-' + currentContact.id).find('li').addClass('active');
        //Get the conversation with this contact
        getChatConversation(currentContact.id);
    });

    //Determine the conversation with a selected contact
    function getChatConversation(contactId) {
        $.get("/contact/conversations/" + contactId).done(function (res) {
            var chat_data = res.data || [];
            loadConversation(chat_data);
        });
    };

    //Load all the messages in the conversation
    function loadConversation(chat_data) {
        $('.chat_main').empty();//Clear the chat box before append the stored message
        chat_data.forEach(function (data) { displayMessage(data); });
        $('.chat_body').show();
        $('._no_chat').hide();
    };

    function displayMessage(conversationData) {
        //Process regular message between users
        const msg_id = conversationData.id; //
        const msg_body = conversationData.message;
        //Determine the template for the message to be loaded
        let template = $(newMessageTemplate).html();
        template = template.replace("{{id}}", msg_id);
        template = template.replace("{{body}}", msg_body);
        template = $(template);
        if ( conversationData.sender_id == @ViewBag.currentUser.id ) {
            template.find('._chat').addClass('from_chat');
        } else {
            template.find('._chat').addClass('receive_chat');
        }
        $('.chat_main').append(template);
    }

    function displayBotMessage(data) {
        //Process regular message between users
        const stockName = data.stock_name; //
        const stockPrice = data.stock_price;
        //Determine the template for the message to be loaded
        let template = $(botMessageTemplate).html();
        template = template.replace("{{stockName}}", stockName);
        template = template.replace("{{stockPrice}}", stockPrice);
        template = $(template);
        
        $('.chat_main').append(template);        
    }
    function displayBotErrorMessage(data) {
        
        //Determine the template for the message to be loaded
        let template = $(botErrorMessageTemplate).html();
        template = template.replace("{{message}}", data.message);
        template = $(template);

        $('.chat_main').append(template);
    }

    function getConversationChannel(user_id, contact_id) {
        if (user_id > contact_id) {
            return 'private-chat-' + contact_id + '-' + user_id;
        }
        return 'private-chat-' + user_id + '-' + contact_id;
    }

    function bind_client_events() {
      //bind private channel events here
        currentConversationChannel.bind("new_message", function (msg) {
            if (msg.receiver_id == @ViewBag.currentUser.id) {
                displayMessage(msg);
            }
        });
        currentConversationChannel.bind("message_delivered", function (msg) {
            $('#msg-' + msg.id).find('.delivery-status').show();
        });
    }

    //Handle the send button's event
    $('#sendChat').click(function () {
        var contactID = "-1";
        var message = $('#chat_message').val();
        if (currentContact) {
            contactID = currentContact.id;
        }
        if (message.startsWith('/')) { //Lets assume the user is entering a bot command
            var stock = "NA"; //By default use this identifier as default
            var command = "NA";
            var validCommand = message.search("\/(stock)=([A-Za-z0-9)]*)");
            if (validCommand >= 0) {
                //Try to get the stock identifier to process its result
                if (message.length > 7) {
                    command = "stock";
                    stock = message.substr(7);
                }
                $.post("/bot_call", {
                    stock: stock,
                    command: command
                }).done(function (data) {
                    //Show the chat as soon as it is ready in the view of the sender
                    displayBotMessage(data);
                    $('#chat_message').val('');
                });
            } else {
                var data = { message : "Unsupported command." };
                displayBotErrorMessage(data);
                $('#chat_message').val('');
            }
        } else {
            //Regular message between contacts
            $.post("/send_message", {
                message: message,
                contact: contactID,
                socket_id: socketId
            }).done(function (data) {
                if (data.status != 1) {
                    return;
                }
                //Show the chat as soon as it is ready in the view of the sender
                displayMessage(data);
                $('#chat_message').val('');
            });
        }
    });

    $('#chat_message').on('keydown', function (e) {
        if (e.which == 13) {
            $('#sendChat').click();
        }
    });
</script>